body { 
    background-color: $secondary-color !important; 
}
main {
	width: 100%;
	padding: {
		right: $padding-x;
		left: $padding-x;
	}
	margin: {
		right: auto;
		left: auto;
	}
}

.index-title {
    font-family: $font-family-index;
    font-size: $font-size-lg;
}

.contenedor {
	margin: auto;
}
.subcontenedor {
	@extend .contenedor;
	font-size: $font-size-lg * 0,7;
	@include padding-xy($padding-x,$padding-y);
        h1 {
            @include gradient-bg(#BABABA, #CBE1DE);
            border-radius: $border-radius;
        }
}
img {
	@include padding-xy($padding-x,20px);
}