@mixin padding-xy($x, $y) {
	padding: {
		top: $y;
		bottom: $y;
		left: $x;
		right: $x;
	}
	
}

@mixin gradient-bg($color1: null, $color2: null, $color3: null) {
	background-color: $color1;
	 @if ($color3) {
        background: linear-gradient(90deg, $color1 0%, $color2 35%, $color3 100%);
    } @else {
		background: linear-gradient(90deg, $color1 0%, $color2 100%);
    }
	
}