

$navbar-padding-x: $padding-x;
$navbar-padding-y: $padding-y;

.my-navbar {
	background-color: $primary-color;

	.navbar-list {
		justify-content: space-between;
		.navbar-list-item {
			@include padding-xy($navbar-padding-x,$navbar-padding-y);
			font-family: 'sans';
			font-size: $font-size-base * 0.95;
			a {
                            color: $color;
				&:hover {
				color: darken($color, 40%);
				}
			}
		}
	}
}


