$font-family-index: 'Lobster', cursive, serif; 
$font-family-footer: 'Playfair Display', serif;
$color: white;
$White: whitesmoke;
$primary-color: black;
$secondary-color: darken($White, 5%);
$accent: darken($primary-color, 20%);
$footer-bg: darken($secondary-color, 5%);
$body-bg: lighten($primary-color, 10%);
$font-size-base: 1.2rem;
$font-size-lg: $font-size-base*4;
$font-size-footer: $font-size-base * 0.8;

$border-bottom-color: lighten($secondary-color, 10%);
$border-radius: 0.5rem;
$padding-x: 0.1rem;
$padding-y: 0.1rem;