@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import "variables";
@import "mixins";
@import "components";
@import "footer";
@import "navstyle";


* {
  box-sizing: border-box;
}

html {
  background-color: #caedfb;
 }
section {
  padding: 5rem 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;  
  transition: all 0.2s ease-in-out;
}
ul {
  list-style-type: none;
 }
