@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Sansita+Swashed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  background-color: #e8e8e8 !important; }

main {
  width: 100%;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  margin-right: auto;
  margin-left: auto; }

.index-title {
  font-family: "Lobster", cursive, serif;
  font-size: 4.8rem; }

.contenedor, .subcontenedor {
  margin: auto; }

.subcontenedor {
  font-size: 0rem, 7;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem; }
  .subcontenedor h1 {
    background-color: #BABABA;
    background: linear-gradient(90deg, #BABABA 0%, #CBE1DE 100%);
    border-radius: 0.5rem; }

img {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0.1rem;
  padding-right: 0.1rem; }

footer {
  font-family: "Playfair Display", serif;
  background-color: gainsboro;
  font-size: 0.96rem;
  bottom: 0; }

.my-navbar {
  background-color: black; }
  .my-navbar .navbar-list {
    justify-content: space-between; }
    .my-navbar .navbar-list .navbar-list-item {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      padding-left: 0.1rem;
      padding-right: 0.1rem;
      font-family: 'sans';
      font-size: 1.14rem; }
      .my-navbar .navbar-list .navbar-list-item a {
        color: white; }
        .my-navbar .navbar-list .navbar-list-item a:hover {
          color: #999999; }

* {
  box-sizing: border-box; }

html {
  background-color: #caedfb; }

section {
  padding: 5rem 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center; }

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out; }

ul {
  list-style-type: none; }

.my-img-size {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
